

<!-- <div class="top_nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light"> -->
      <!-- <a class="navbar-brand" [routerLink]="'/'">
        <div>
          <img src="/assets/images/logo.png" alt="">
          <p>Dev Rising Nidhi Ltd</p>
        </div>

      </a>
      <button class="navbar-toggler" type="button" (click)="toggle()" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- <a cNavbarBrand href="https://coreui.io/angular/" target="_blank">
        <div>
          <img src="/assets/images/logo.png" alt="">
          <p>Dev Rising Nidhi Ltd</p>
        </div>
      </a>
      <button [cNavbarToggler]="collapseRef"></button>

        <div #collapseRef="cCollapse" cCollapse navbar class="collapse navbar-collapse nav_right" >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " [routerLink]="'/'"
              [ngClass]="{ 'active': currentRoute === '/' }"
              >Home</a>

            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="'/plans'"
              [ngClass]="{ 'active': currentRoute === '/plans' }"
              >Plans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="'/about'"
              [ngClass]="{ 'active': currentRoute === '/about' }"
              >About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/contact'"
              [ngClass]="{ 'active': currentRoute === '/contact' }"
              >Contact Us</a>
            </li>

          </ul>

        </div>

    </nav>

  </div>
</div> -->
<div class="top_nav">

<c-navbar class="bg-light" colorScheme="light" expand="lg">
  <div class="container-fluid">
    <a cNavbarBrand href="https://coreui.io/angular/" target="_blank">
      <div>
        <img src="/assets/images/logo.png" alt="">
        <p>Dev Rising Nidhi Ltd</p>
      </div>
    </a>
    <button [cNavbarToggler]="collapseRef"></button>
    <div #collapseRef="cCollapse" cCollapse navbar>
      <c-navbar-nav class="me-auto mb-2 mb-lg-0 nav_right">
        <c-nav-item>
          <a class="nav-link " [routerLink]="'/'"
              [ngClass]="{ 'active': currentRoute === '/' }"
              >Home</a>
        </c-nav-item>
        <c-nav-item>
          <a class="nav-link"[routerLink]="'/plans'"
          [ngClass]="{ 'active': currentRoute === '/plans' }"
          >Plans</a>
        </c-nav-item>
        <c-nav-item>
          <a class="nav-link"[routerLink]="'/about'"
              [ngClass]="{ 'active': currentRoute === '/about' }"
              >About Us</a>
        </c-nav-item>
        <c-nav-item>
          <a class="nav-link" [routerLink]="'/contact'"
          [ngClass]="{ 'active': currentRoute === '/contact' }"
          >Contact Us</a>
        </c-nav-item>
      </c-navbar-nav>

    </div>
  </div>
</c-navbar>
</div>
