.nav_right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.navbar-brand > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar-brand > div p {
    margin: 0;
    background: linear-gradient(45deg,#0b6bab,#fb3c00);
    font-size: 34px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
}
a.nav-link{
    padding: 7px 21px !important;
    &.active {
        background: linear-gradient(45deg, #1868a2, #e24111);
        color: #fff !important;
        font-weight: bold;
        border-radius: 5px;
        /* width: 130px; */
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease .5s;

    }
}

@media(max-width: 750px) {

    .navbar-brand > div p {
       font-size: 20px;
    }
}
