<app-header-title [title]="'Contact Us'"></app-header-title>
<div class="without_bg">
    <div class="container">
        <div class="inner">
            <div>
                <div><img src="" alt=""></div>
                <div class="address">
                    <div></div>
                    <div>C/O BHAGAT RAM MANAK
                        MANAK NIWAS GHANAHATTI, SHIMLA
                        Himachal Pradesh - 171014 India</div>
                </div>
                <div class="service">
                    <h2 class="heading4">Customer Service</h2>
                    <div>
                        <div></div>
                        <div><a href="tel:0177-2774304">0177-2774304</a></div>
                    </div>
                    <div>
                        <div></div>
                        <div><a href="mailto:ho.devnidhi@gmail.com">{{"ho.devnidhi@gmail.com"}}</a></div>
                    </div>

                </div>
                <div class="services_avil">
                    <h2 class="heading4">Business Hours</h2>
                    <p>Our customer service team is available during the following hours</p>
                    <p><strong>Monday to Saturday:</strong> 10:00 AM - 5:00 PM</p>
                    <p><strong>Sunday:</strong> Closed</p>
                </div>
            </div>
            <div>


            </div>
        </div>
    </div>
</div>
