<!-- <div class="header_section">
    <div class="container">
        <h1 class="heading2">Plans</h1>

    </div>
</div> -->
<app-header-title [title]="'Plans'"></app-header-title>
<div class=" witout_bg">
    <div class="container">
        <div class="inner_fex_2">
            <div><img src="assets/images/saving.png" alt=""> </div>
            <div>

                <h2 class="heading3"> <strong>Recurring Deposit:</strong> Build your savings, one step at a time</h2>
                <p>Recurring Deposits are designed for disciplined savers who want to invest a fixed amount regularly
                    over a period.</p>
                <div>
                    <div>
                        <h3 class="heading4">Features</h3>
                    </div>
                    <ul>
                        <li>Flexible deposit terms: 6 months to 5 years</li>
                        <li>Minimum deposit starting at ₹100</li>
                        <li>Attractive interest rates to maximize returns</li>
                        <li>Penalty-free partial withdrawals after a lock-in period (conditions apply)</li>
                    </ul>
                    <div>
                        <h3 class="heading4">Benefits</h3>
                    </div>
                    <ul>
                        <li>Perfect for planning future expenses, such as education or travel </li>
                        <li>Guaranteed returns on maturity</li>
                        <li>Easy online deposit management</li>
                    </ul>
                    <p>Start small and watch your savings grow steadily with our RD plans!</p>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="with_bg">
    <div class="container">
        <div class="inner_fex_2">
            <div>
                <img src="assets/images/fd_img.png" alt="">
            </div>
            <div>
                <h2 class="heading3"> <strong>Fixed Deposit: </strong> Secure your money, secure your future</h2>
                <p>Fixed Deposits offer guaranteed returns and are a great way to lock in your funds for a specific
                    duration at higher interest rates.</p>
                <p>A <strong>Fixed Deposit (FD)</strong> is a secure and reliable way to grow your savings. With
                    guaranteed returns and competitive interest rates, it’s the perfect option for achieving your
                    financial goals.</p>
                <div>
                    <h3 class="heading4">Key Features</h3>
                </div>
                <ul>
                    <li><strong>Flexible Tenure:</strong> Choose from 90 days to 10 years.</li>
                    <li><strong>Guaranteed Returns:</strong> Earn a fixed interest rate throughout the deposit period.
                    </li>
                    <li><strong>High Safety:</strong> Zero risk of market fluctuations.</li>
                    <li><strong>Loan Facility:</strong> Get loans against your FD in times of need.</li>
                </ul>
                <div>
                    <h3 class="heading4">Benefits</h3>
                </div>
                <ul>
                    <li><strong>Higher Interest Rates:</strong> compared to regular savings accounts.</li>
                    <li><strong>Senior Citizen Privileges:</strong> Extra interest for senior citizens.</li>
                    <li><strong>Easy Auto-Renewal:</strong> Seamless renewal options for your deposit.</li>
                    <li><strong>Predictable Growth:</strong> Know exactly how much you’ll earn at maturity.</li>

                </ul>
                <p>Enjoy peace of mind and high returns with our FD plans!
                </p>
            </div>
        </div>
    </div>
</div>
<div class=" witout_bg">
    <div class="container">
        <div class="inner_fex_2">
            <div><img src="assets/images/saving.png" alt=""> </div>
            <div>

                <h2 class="heading3"> <strong>Monthly Income Scheme:</strong> Secure Your Future with Guaranteed Monthly
                    Income
                </h2>
                <p>A Monthly Income Scheme (MIS) is a reliable investment option designed to provide you with a steady
                    monthly income. It’s ideal for those who want a regular cash flow while keeping their investment
                    safe.
                </p>
                <div>
                    <div>
                        <h3 class="heading4">Features</h3>
                    </div>
                    <ul>
                        <li><strong>Fixed Monthly Payouts:</strong> Earn guaranteed returns every month.</li>
                        <li><strong>Safe Investment:</strong> Zero market risks, ensuring your principal is secure.</li>
                        <li><strong>Flexible Tenure:</strong> Choose a term that fits your financial goals.</li>
                    </ul>
                    <div>
                        <h3 class="heading4">Benefits</h3>
                    </div>
                    <ul>

                        <li><strong> Income:</strong> Perfect for retirees, homemakers, or anyone seeking a regular
                            income source.</li>
                        <li><strong>Low Investment Amount:</strong> Start with a small initial deposit.</li>
                        <li><strong>Hassle-Free Process:</strong> Easy to open and manage your MIS account.</li>

                    </ul>
                    <p>
                        <strong>Secure Your Monthly Income Today!</strong> <br>
                        Enjoy peace of mind with a steady, dependable income. Visit our branch or contact us to open an
                        MIS account now.

                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="scheme_loan with_bg"  id="abc">
    <div class="container">
        <div class="inner">
            <h2 class="heading3 size-40">Turn Your Gold, Property, or Deposit into Instant Loan</h2>
            <div class="loan_container">
                <div>
                    <h2 class="heading3">Gold Loan</h2>
                    <img src="assets/images/saving.png" alt="">

                    <div class="tagline">Transform Your Gold into Cash, Anytime You Need</div>
                    <div class="keypoints">
                        <ul>
                            <li><strong>Approval:</strong> Quick processing with minimal paperwork.</li>
                            <li><strong>High Loan Value:</strong> Get up to 90% of your gold’s value.</li>
                            <li><strong>Flexible Repayment:</strong> Choose easy repayment plans.</li>
                        </ul>
                    </div>
                    <p>Turn your property into financial support!</p>
                </div>
                <div>
                    <h2 class="heading3">Property Loan</h2>
                    <img src="assets/images/saving.png" alt="">

                    <div class="tagline">Turn your property into financial support!</div>
                    <div class="keypoints">
                        <ul>
                            <li><strong> Loan Amount:</strong> Borrow against the value of your property.</li>
                            <li><strong>Flexible Tenures:</strong> Repay over 1 to 5 years.</li>
                            <li><strong>Competitive Interest Rates:</strong> Affordable EMIs for your convenience.</li>
                            <li><strong>Easy Process:</strong> Hassle-free application with minimal documentation.</li>
                        </ul>
                    </div>
                    <p>Use your property to fulfill your dreams! </p>
                </div>
                <div>
                    <h2 class="heading3">Loan Against Deposit</h2>
                    <img src="assets/images/saving.png" alt="">

                    <div class="tagline">Need funds but don’t want to break your deposit? Get instant cash while your deposit keeps earning interest!</div>
                    <div class="keypoints">
                        <ul>
                            <li><strong> Cash:</strong> Borrow up to 90% of your deposit value.</li>
                            <li><strong>No Deposit Breakage:</strong> Your deposit stays safe and continues to grow.</li>
                            <li><strong>Easy Process:</strong> Fast approval with minimal paperwork.</li>

                        </ul>
                    </div>
                    <p>Turn your property into financial support!</p>
                </div>
            </div>
        </div>
    </div>
</div>
