.scheme_loan {
    padding: 50px 0;
}

.scheme_loan .size-40 {
    font-size: 40px;
}

.loan_container {
    display: flex;
    gap: 20px;
}

.loan_container>div img {
    width: 100%;
}

.loan_container>div {
    flex: 1;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.loan_container>div>*:not(img){
    padding: 15px;
}
.loan_container>div>h2{
    text-align: center;
    display: block;
}
.tagline{
    text-align: center;
    color: #7a7a7a;
    font-style: italic;
}
@media(max-width: 750px) {
    .inner_fex_2 {
        flex-flow: column;
        padding: 0 15px;
    }
    .inner_fex_2 img {
        width: 100%;
    }
    .inner_fex_2 >div:first-child {position: relative;}

    .inner_fex_2 >div:first-child:after {
        content: "";
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid #bdbdbd;
        width: calc(100% + 60px);
        left: -30px;
    }
    .loan_container{flex-flow: column;}
    .scheme_loan {padding: 40px 20px;
        &>div>div>h2{font-size: 30px;}
    }
}
