<app-header-title [title]="'About Us'"></app-header-title>
<div class="top_about">
    <div class="container">
        <div class="inner">
            <div>
                <img src="assets/images/about.jpg" alt="">
            </div>
            <p>Welcome to Dev Rising Nidhi, your trusted partner in financial growth and community empowerment. We are a Nidhi Company, dedicated to encouraging a culture of savings and responsible lending among our members. Rooted in the principles of trust, transparency, and mutual benefit, we provide a range of secure and affordable financial services to help you achieve your goals.</p>
        </div>
    </div>
</div>

<div class="vision">
    <div class="container">
        <div class="inner">
            <div>
                <img src="assets/images/mission.jpg" alt="">
            </div>
            <div>
                <h2 class="heading3">Our Mission</h2>
                <p>Our mission is to create a financially empowered community where every member can achieve their goals with ease and confidence. We are committed to:</p>
                <ul>
                    <li><strong> Smart Saving Habits:</strong> Providing secure and rewarding saving options for everyone.</li>
                    <li><strong>Simplifying Loans:</strong> Offering quick, affordable loans to meet personal and business needs.</li>
                    <li><strong>Building Trust:</strong> Ensuring transparency and fairness in every transaction.</li>
                    <li><strong>Supporting Growth:</strong> Helping individuals and small businesses grow with financial stability.</li>
                </ul>
                <p>We aim to make financial services simple, accessible, and beneficial for all our members.</p>
            </div>
        </div>
    </div>
</div>

<div class="vision with_bg">
    <div class="container">
        <div class="inner">
            <div>
                <img src="assets/images/vision.jpg" alt="">
            </div>
            <div>
                <h2 class="heading3">Our Vision</h2>
                <p>We envision a future where everyone has access to the financial support they need to lead a better life. Our vision is to:
                </p>
                <ul>
                    <li><strong> Communities:</strong> Help people achieve their dreams through easy and reliable financial solutions.</li>
                    <li><strong>Be a Trusted Partner:</strong> Build lasting relationships with members by prioritizing their needs.</li>
                    <li><strong>Promote Financial Security:</strong> Create a safe and sustainable environment for savings and investments.</li>
                    <li><strong>Encourage Prosperity:</strong> Be a driving force for economic and personal growth within our community.</li>
                </ul>
                <p>By combining trust, innovation, and care, we aim to be the preferred choice for savings and loans.</p>
            </div>
        </div>
    </div>
</div>

<div class="vision">
    <div class="container">
        <div class="inner">
            <div>
                <img src="assets/images/why_choose_dev.jpg" alt="">
            </div>
            <div>
                <h2 class="heading3">Why Choose Us?</h2>


                <ul>
                    <li><strong>Transparency:</strong> No hidden charges or fees.</li>
                    <li><strong>Safety:</strong> Your deposits are secure with us.</li>
                    <li><strong>Support: </strong> Friendly customer service to assist you every step of the way.</li>

                </ul>
                <p>Join Dev Rising Nidhi today and take the first step toward achieving your financial aspirations. Together, let’s build a future of financial security and prosperity.</p>
            </div>
        </div>
    </div>
</div>
