

<div>
  <c-carousel [interval]="2000">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="lazy"
          src="{{slide.src}}"
        />
        <c-carousel-caption class="d-none d-md-block">
          <h3>{{slide.title}}</h3>
          <p>{{slide.subtitle}}</p>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="what_nidhi">
        <div><img src="assets/images/what_nidhi.webp" alt=""></div>
        <div>
          <h2 class="heading2">A Nidhi Company</h2>
          <ul>
            <li> A NIDHI Company can be defined as a Company By the Members, For the Members and To the Members.</li>
            <li>A Nidhi Company is A Company Incorporated Under Section 620 A Of the Indian Companies Act 1956 U/S 406 of the Companies Act 2013</li>
            <li>The Primary object of our institution is to cultivate the habit of savings among our members.</li>
            <li>Approved by Both The Houses Of The Parliament by notifying it in the official gazette of the Central Government.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="scheme">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner">
          <h2 class="heading2">Schemes</h2>
          <ul>
            <li><a [routerLink]="['/plans']" [fragment]="'rd'" >
              <div>
                <div>Recurring Deposit</div>
                <img src="assets/images/deposit_icon.png" alt="">
              </div>
            </a></li>
            <li><a  [routerLink]="['/plans']" fragment="fd">
              <div>
                <div>Fixed Deposit</div>
                <img src="assets/images/fixed_d.png" alt="">
              </div>
            </a></li>
            <li><a >
              <div>
                <div>Gold Loan</div>
                <img src="assets/images/gold-bars.png" alt="">
              </div>
            </a></li>
            <li><a>
              <div>
                <div>Cumulative Deposit</div>
                <img src="assets/images/cumulative.png" alt="">
              </div>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foundation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner">
          <div>
            <h2 class="heading2">Establishment of Dev Rising Nidhi</h2>
            <p>Dev Rising Nidhi is a Limited Liability Company incorporated under Companies Act 2013. The company was established in june, 2019 and has its registered head office at ghanahatti, H.P. The NBFC focuses to encourage banking habits among individuals and renders financial assistance in both short and long term commitments. It offers saving account, loans, and fixed deposit facilities at exciting rate of interest and flexible terms.</p>
          </div>
          <div>
            <img src="assets/images/assteblishment.webp" alt="">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="build_foundation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2 class="heading2"> Build a Financial Foundation</h2>
          <div class="inner">
              <div>
                <div>
                  <img src="assets/images/deposit1.png" alt="">
                  <h3>Mutuality</h3>
                  <p>
                    Our primary goal is to ensure the satisfaction of our members while fostering a strong sense of mutual collaboration and connection among them.</p>
                </div>
              </div>
              <div>
                <img src="assets/images/deposit2.png" alt="">
                <h3>Security</h3>
                <p>The funds are fully secured, ensuring that investments with us are placed in a highly safe and reliable environment.</p>
              </div>
              <div>
                <img src="assets/images/deposit3.png" alt="">
                <h3>Deposits</h3>
                <p>We accept deposits from our shareholders in strict compliance with the guidelines set forth by the Ministry of Corporate Affairs.</p>
              </div>
              <div>
                <img src="assets/images/deposit4.png" alt="">
                <h3>Gold Loans </h3>
                <p>The funds collected are primarily utilized for providing Gold Loans.</p>
              </div>
          </div>
      </div>
    </div>
  </div>

</div>

